.project-card {
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px gray;
  padding: 10px;
  border-radius: 5px;
}
.tech-bg {
  background-color: #4b5769;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}
@media screen and (max-width: 600px) {
  .project-style {
    flex-direction: column;
  }
}
